.bg-goodFloor {
    background: url("../img/场景1-至善楼.png") repeat;
    transition: background 2s;
    -webkit-transition: background 2s; /* Safari */
}

.bg-sportsGround {
    background: url("../img/场景2-运动场.png") repeat;
    transition: background 2s;
    -webkit-transition: background 2s; /* Safari */
}

.bg-avenue {
    background: url("../img/场景3-林荫道.png") repeat;
    transition: background 2s;
    -webkit-transition: background 2s; /* Safari */
}

.header{
    margin: 10% 0 0 -100px;
}
.sheep {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.list-inline {
    position: absolute;
    width: 100%;
    bottom: 2%;
    text-align: center;
}

.list-inline li {
    width: 20%;
    height: 110px;
    line-height: 110px;
    margin-right: 5%;
}

.list-inline > li:last-child {
    margin-right: 0;
}

.function_left {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85%;
    align-items: center;
    list-style: none;
}

.function_right {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85%;
    align-items: center;
    list-style: none;
    margin-right: 5%;
}

/*并集选择器*/
.function_left li, .function_right li {
    margin-bottom: 50px;
}

