.bg-goodFloor {
    background: url("../img/场景1-至善楼.png") no-repeat;
    background-size: cover;
    transition: background 2s;
    -webkit-transition: background 2s; /* Safari */
}

.bg-sportsGround {
    background: url("../img/场景2-运动场.png") no-repeat;
    background-size: cover;
    transition: background 2s;
    -webkit-transition: background 2s; /* Safari */
}

.bg-avenue {
    background: url("../img/场景3-林荫道.png") no-repeat;
    background-size: cover;
    transition: background 2s;
    -webkit-transition: background 2s; /* Safari */
}

.header {
    margin: 2% 0 0 3%;
    width: 70%;
}

.sheep {
    position: absolute;
    bottom: 15%;
    width: 44%;
    left: 50%;
    transform: translateX(-50%);
}

.two_grass {
    position: absolute;
    bottom: 38%;
    left: 51%;
    width: 30%;
    transform: translateX(-50%);
    z-index: 10;
    display: none;
}

.cup {
    position: absolute;
    bottom: 28%;
    left: 55%;
    width: 11%;
    transform: translateX(-50%);
    display: none;
}

#drop {
    position: absolute;
    bottom: 10%;
    width: 60%;
    height: 48%;
    left: 50%;
    transform: translateX(-50%);
    /*transition: 3s;*/
    /*animation: 3s drop infinite;*/
}

.water {
    float: inside;
    transition: 3s;
    animation: 2s drop infinite;
}

@keyframes drop {
    0% {
        transform: scale(1.2) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(0.8) translateY(260px);
        opacity: 0.2;
    }
}

.shower_head {
    position: absolute;
    bottom: 52%;
    width: 80px;
    height: 68px;
    left: 55%;
    transform: translateX(-50%);
    display: none;
}

.waters {
    position: absolute;
    bottom: 10%;
    width: 86%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.sun1 {
    position: absolute;
    bottom: 47%;
    width: 16%;
    left: 29%;
    display: none;
}

.sun2 {
    position: absolute;
    bottom: 50%;
    width: 10%;
    left: 64%;
    display: none;
}

.sun3 {
    position: absolute;
    bottom: 60%;
    width: 16%;
    left: 50%;
    display: none;
}

.heart1 {
    position: absolute;
    bottom: 48%;
    width: 32px;
    height: 20px;
    left: 41%;
    display: none;
}

.heart2 {
    position: absolute;
    bottom: 52%;
    width: 30px;
    height: 18px;
    left: 33%;
    display: none;
}

.heart3 {
    position: absolute;
    bottom: 58%;
    width: 25px;
    height: 15px;
    left: 40%;
    transform: rotateZ(30deg);
    display: none;
}

.heart4 {
    position: absolute;
    bottom: 63%;
    width: 20px;
    height: 12px;
    left: 30%;
    display: none;
}

.hand {
    position: absolute;
    bottom: 46%;
    width: 50px;
    height: 38px;
    left: 65%;
    transform: translateX(-50%);
    display: none;
}

.gold-des {
    position: absolute;
    bottom: 54%;
    width: 70px;
    height: 23px;
    left: 50%;
    display: none;
}

.screen {
    position: absolute;
    width: 100%;
    bottom: 3%;
    text-align: center;
}

.screen li {
    width: 20%;
    margin-right: 5%;
    display: inline-block;
    line-height: 1.42857143;
    touch-action: manipulation;
    padding: 8px 8px;
    border-radius: 4px;
    white-space: nowrap;
    vertical-align: middle;
}

.screen > li:last-child {
    margin-right: 0;
}

#goodFloor {
    background-color: #d9534f;
}

#sportsGround {
    background-color: #5bc0de;
}

#avenue {
    background-color: #f0ad4e;
}

.function_left {
    width: 14%;
    position: absolute;
    bottom: 15%;
    left: 1%;
}

.function_right {
    width: 14%;
    position: absolute;
    bottom: 15%;
    right: 1%;
}

.function_right img,
.function_left img {
    width: 100%;
}

/*并集选择器*/
.function_left li, .function_right li {
    margin-bottom: 14px;
}

.dialog {
    position: absolute;
    background: url("../img/弹出框.png") no-repeat;
    background-size: 100% 100%;
    transition: background 2s;
    width: 65%;
    padding: 12px 8px 0 23px;
    z-index: 10113;
    display: none;
}

.dialog_about {
    height: 50%;
    overflow-y: auto;
    top: 54%;
}

h4 {
    text-align: center;
    color: #4b90c0;
    font: 1.5rem Microsoft YaHei, "微软雅黑";
}

.indent_p {
    margin-bottom: 0;
    color: #757575;
    font: 1rem Microsoft YaHei, "微软雅黑";
    text-indent: 2em;
}

button {
    position: relative;
    background-color: rgb(76, 144, 193);
    text-align: right;
    margin: 30px auto 30px auto;
    color: white;
    left: 50%;
    padding: 3px 12px;
    transform: translateX(-50%);
    font-size: 1.5rem;
}

.dialog_person {
    top: 48%;
}

.dialog_gold_detail {
    top: 29%;
    position: absolute;
    background: url("../img/弹出框.png") no-repeat;
    background-size: 100% 100%;
    transition: background 2s;
    width: 65%;
    height: 30%;
    overflow-y: auto;
    padding: 10px 12px 0 20px;
    z-index: 10113;
    display: none;
}

.dialog_interaction {
    top: 40%;
    position: absolute;
    background: url("../img/弹出框.png") no-repeat;
    background-size: 100% 100%;
    transition: background 2s;
    width: 65%;
    height: 33%;
    overflow-y: auto;
    padding: 10px 12px 0 20px;
    z-index: 10113;
    display: none;
}

#info_form {
    margin: 8px 10px 15px 0;
}

.input_info {
    height: 30px;
    background-color: rgb(253, 244, 251);
    border-radius: 5px;
    margin-top: 12px;
}

span {
    color: #4b90c0;
    margin-left: 3px;
}

input {
    border: none;
    background: none;
    height: 100%;
    width: 65%;
    display: inline;
}

.hint_info {
    color: #979797;
    font: 1rem Microsoft YaHei, "微软雅黑";
}

#sure {
    left: 33%;
    font-weight: bold;
}

#cancel {
    left: 38%;
}

.date {
    float: left;
}

.gold_num {
    float: right;
}

.gold {
    width: 23px;
    height: 23px;
}

td {
    padding: 2px 6px;
    color: #2aabd2;
    text-align: center;
}

td:first-child, td:nth-child(2) {
    padding: 2px 0;
}
