.login_bg {
    background-image: url("../img/背景图.png");
    background-size: cover;
}

.choose {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 65%;
    height: 70%;
    color: rgb(37, 121, 156);
}

.sheep_choose_box {
    background-color: rgb(193, 226, 240);
    padding: 20px 22px;
    text-align: center;
}

.sheep_head {
    height: 25%;
    width: 90%;
    margin: -25px 5%;
}

.divider {
    width: 100%;
}

li {
    margin: 10px 12%;
    padding: 12px 0;
    font-size: 1.8rem;
    border-radius: 5px;
}

/*用于js里面调用,选中之后的样式*/
.select {
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 8px 8px 5px rgb(168, 174, 177);
}

#btn_home {
    width: 40%;
    margin-top: 10px;
    padding: 10px 0;
    color: white;
    font-size: 1.8rem;
    background-color: rgb(13, 149, 181);
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4995B5;
    z-index: 99;
}

.picSize {
    width: 10rem;
    height: 10rem;
    /*animation: sheepRotate 1s infinite;
    -webkit-animation: sheepRotate 1.5s ease-in infinite;*/
}

@-webkit-keyframes sheepRotate /* Safari 与 Chrome */
{
    0% {
        -webkit-transform: none;
    }
    25% {
        -webkit-transform: scale(1.1, 1.1) translate(12px, 0);
    }
    50% {
        -webkit-transform: scale(1.3, 1.3) translate(0, 0);
    }
    75% {
        -webkit-transform: scale(1.1, 1.1) translate(-12px, 0);
    }
    100% {
        -webkit-transform: none;
    }
}